<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission android:name="android.permission.SEND_SMS" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->
<!--    <uses-permission android:name="android.permission.READ_SMS" />-->

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassActivity" />
        <activity android:name=".ChangePassActivity" />
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".StudentActivity" />
        <activity android:name=".AttendenceStudentActivity" />
        <activity android:name=".ProfileStudentActivity" />
        <activity android:name=".ChangePasswordStudentActivity" />
        <activity android:name=".PresentStudentActivity" />
        <activity android:name=".PresentTimeStudentActivity" />
        <activity android:name=".StudentScheduleActivity" />
        <activity android:name=".ScheduleDetailStudentActivity" />
        <activity android:name=".SClassListActivity" />
        <activity android:name=".SclassListDetailActivity" />
        <activity android:name=".DetailStudentActivity" />
        <activity android:name=".StudentListActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".TeacherActivity" />
        <activity android:name=".AttendenceTeacherActivity" />
        <activity android:name=".RenderQRActivity" />
        <activity android:name=".PresentTeacherActivity" />
        <activity android:name=".PresentTimeTeacherActivity" />
        <activity android:name=".AbsentTeacherActivity" />
        <activity android:name=".AbsentTimeTeacherActivity" />
        <activity android:name=".TClassListActivity" />
        <activity android:name=".TclassListDetailActivity" />
        <activity android:name=".TDeTailStudentActivity" />
        <activity android:name=".TeacherScheduleActivity" />
        <activity android:name=".ProfileTeacherActivity" />
        <activity android:name=".ChangePasswordTeacherActivity" />

        <activity android:name=".AdminActivity" />
    </application>
</manifest>

















